.container {
  position: sticky;
  top: calc(var(--header-height) + 2.7rem);

  color: var(--color-text);
}

.heading {
  font-size: 1.6rem;
  font-weight: 600;

  margin-bottom: 1.6rem;
}

.container li + li {
  margin-top: 1rem;
}

.container li.h3 {
  padding-left: 1rem;
}

.container a {
  font-size: 1.3rem;
  color: var(--color-text);
}

.container a:hover {
  color: var(--color-text-hover);
}

.container a.active {
  color: var(--color-text-hover);
}
