@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: creamy;
  src: url(../assets/font/script.otf);
}

:root {
  --color-white: #fff;
  --color-text-black: #1a1a1a;
  --color-gray: #fafafa;
  --color-backgroud-dark: #0e141b;
  --color-gray-light: #182635;
  --color-blue: #00d8ff;
  --color-blue-light: #c9e4f5;
  --color-orange: #f05123;
  --color-pink: #e84e89;

  --header-height: 6.6rem;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  transition: all 0.2s linear;
}

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: #d6dee1;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;

  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;

  font-size: 1.6rem;
}

body.light {
  --color-text: #000;
  --color-text-sub: #757575;
  --color-text-hover: var(--color-pink);
  --color-background: var(--color-white);
  --color-background-sub: var(--color-white);
  --color-header-border: #f0f0f0;
  --color-nav-hover: #e8ebed;
  --color-bg-footer: var(--color-gray);
  --color-bg-header: var(--color-white);
  --color-skeleton: #ebebeb;
}

body.dark {
  --color-text: #fff;
  --color-text-sub: #92abcf;
  --color-text-hover: #11ece5;
  --color-background: #04070b;
  --color-background-sub: #0f1724;
  --color-header-border: #4e6a9250;
  --color-header-shadow: #4e6a9250;
  --color-nav-hover: #0f1724;
  --color-nav-active: #11ece5;
  --color-bg-footer: #04070b;
  --color-bg-header: #04070b;
  --color-skeleton: #0f1724;
  --color-skeleton-animation: #4e6a9250;
}

input,
textarea {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.section__heading {
  font-size: 2.8rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text);
}

.loading__title {
  max-width: 30rem;
  border-radius: 0.8rem;
  color: var(--color-text);
}

.message {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 2.2rem;
  color: var(--color-text-sub);
}

@media (max-width: 767px) {
  .section__heading {
    font-size: 2.2rem;
  }
}

.content {
  word-break: break-word;
  color: var(--color-text);
}

.content p,
.content li {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2;
  color: var(--color-text);

  margin: 1.8rem 0;
}

.content pre {
  margin: 0.8rem 0;
  border-radius: 0.8rem;
  padding: 1.2rem !important;
}

.content strong {
  font-size: 1.8rem;
  font-weight: 600;
}

.content blockquote {
  padding: 0 5rem;
  position: relative;
}

.content blockquote::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  width: 6px;
  background: #00bec1;
  border-radius: 6px;
}

.content a {
  color: var(--color-text-hover) !important;
}

.content ul {
  list-style: disc;
  padding-left: 2.4rem;
}

.content img {
  /* display: none; */
  width: 100%;
  object-fit: cover;
}

.content h2 {
  font-size: 2.7rem;
}

.content h2 strong {
  font-size: inherit;
}
